.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/g71ef491b560a127bf28e0f755926b4627be8facf028f1dda075bfba44c738703ae2fabc4033158deda1637a61e0dba16775ae74671593b8c1a2e7f416ff51eb1_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  min-height: 312px;
  width: 598px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: linear-gradient(#ff8a8a, #ffc166);
  animation-duration: 1000ms;
  margin: 241px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
  margin: 77px 31px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0 31px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: url("images/g86ac82e0db1807efcd59a1591c2753dc8874b9a942b8c768b5c5824e3a67b2631da72ea419251ea79e942a5bbae7485bbf032e1232ecb2594f5e875481912c71_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 657px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 3.75rem;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  width: 722px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 233px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(#ff8a8a, #ffc166);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(#ff8a8a, #ffc166);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: linear-gradient(#ff8a8a, #ffc166);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: linear-gradient(#ff8a8a, #ffc166);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-9 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 489px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 440px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 816px;
  }
}